.alchemy
.git
.gitignore
.husky
.wrangler
**/.DS_Store
**/.env
**/.env.*
**/.turbo
**/coverage
**/dist
**/node_modules
**/playwright-report
**/test-results
Dockerfile*
docker-compose*.yml
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
